{% load util %}

<form action="{% url 'reports' %}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
	<p> Dates must be from {{ request.session.dw_info.date_from|date:"d-m-Y" }} to {{ request.session.dw_info.date_to|date:"d-m-Y" }}</p>
    {% csrf_token %}
		<input type="hidden" data-num-pages="25" data-page="{{ cat_num }}" id = "load_more" value="0" name="cat_num">

        <div class="form-group {% if errors.date_from %}has-error{% endif %}">
			<label for="date_from" class="col-sm-2 control-label">Date from</label>
			<div class="col-sm-10">
			<input type="text" class="form-control" id="date_from" value="{{ request.POST.date_from }}"
				   name="date_from" placeholder="DD-MM-YYYY">
			<span class="help-block">{{ errors.date_from }}</span>
			</div>
		</div>

		<div class="form-group {% if errors.date_to %}has-error{% endif %}">
			<label for="date_to" class="col-sm-2 control-label">Date to</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="date_to" value="{{ request.POST.date_to }}" name="date_to"
					   placeholder="DD-MM-YYYY">
				<span class="help-block">{{ errors.date_to }}</span>
			</div>
		</div>

		<div class="form-group {% if errors.shops %}has-error{% endif %}">
			<label for="shops" class="col-sm-2 control-label">Shops<br>(leave blank for all shops)</label>
			<div class="col-sm-10">
				<select name="shops" id="shops"	class="form-control" multiple size="3">
					<option disabled>Choose shops (for multiple choice press 'Ctrl' or 'Command' on mac))</option>
					{% for shop, title in request.session.dw_info.shops.items %}
						<option value="{{ shop }}" {% if shop|get_str in shops1 %}selected{% endif %}
						>{{ shop }},{{ title }}</option>
					{% endfor %}
				</select>

				<span class="help-block">{{ errors.shops }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<button type="submit" name="get_stat" id="get_stat" class="btn btn-primary">Get statistics</button>
			</div>
		</div>
</form>