<div id="table1">
    <span class="lead">Main data( Shops: {% for shop in shops %} #{{ shop }} {% empty %} all  shops {% endfor %} )
        :</span>
    {{ table1 | safe }}
</div>

<div id="table2">
    {{ table2 | safe }}
    <!--<nav>-->
        <!--<ul class="pagination">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li class="active"><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
</div>

<!--&gt;>> str(df.index[0].date())-->
<!--'2015-10-11'-->