/* css file */

* {
    border: 0px solid red;
}

label {
    text-align: right;
}

#table1 tr th:first-child {
    width: 20%;
    text-align: right;
}

#table1 * {
    text-align: center;
}

#table1 thead th {
}

#loader {
    display: none;
}
